body{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0%;
    padding: 0px;
    margin-left: 0%;
    background-color: whitesmoke;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
 
}
/**/
.container {
    width: 100%;
    background-color: #2f597e;
    height: 26px;
    display: block;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(121, 121, 158);
    position: fixed;
  
 
      
}

/*menu horizontal*/
.container a:hover {
    background: transparent;
    border-radius: 2%;
    display: block;
    text-align: center;
    paint-order: normal;
    transition: all 0.5s ease;
    
}
/*barra de pesquisa*/
#divBusca{
    background-color:#832a2a;
    border:solid 1px;
    align-items: center;
    display: inline-flex;
    border: 2px solid black;

  }

 
  #txtBusca{
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:3%;
    width: 269px
  }
/*seta de voltar e avançar*/
header{
    display: inline;
    float: left;
    
}
/*icon cancealr minimizar e ampliliar*/
#cancelar {
    display: inline;
    float: right;
    align-items: center;
    text-indent: 5em;
    position: fixed;
     
}


/*foto do perfil*/
section {
    display: inline-flex;
    line-height: 10px;
    text-indent: 5em;
  
    
}

section img {
    border-radius: 50%;
    height: 20px;
}

div a img {
    width: 22px;
    align-items: center;
    display: inline;
    
    
}

.menu {
    background-color: #b5b5b5;
    margin: 70px;
    margin-left: 0%;
    height: 700px;
    position: fixed;
   
}



p {
    text-align: center;
    margin: 2px;
}

img{
    float: none;
    width: 30px;
    
}
.menu a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    
}

.menu a:hover{
    background-color: rgb(170, 73, 67);
    
}

#navlist {
    background-color: #d8e0e7;
    position: absolute;
    width: 99%;
    
}

  
  .container {
    width: 100%;
    background-color: #2f597e;
    height: 26px;
    display: block;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(3, 3, 14);
    position: fixed;
      
  }
  
  /*menu horizontal*/
  .container a:hover {
    background: transparent;
    border-radius: 2%;
    display: block;
    text-align: center;
    paint-order: normal;
    transition: all 0.5s ease;
    
  }
  /*barra de pesquisa*/
  #divBusca{
    background-color:#b5b5b5;
    border:solid 1px;
    align-items: center;
    display: inline-flex;
    border: 2px solid black;
    text-indent: 90%;
  
  }
  
  
  #txtBusca{
    background-color:transparent;
    padding-left:5px;
    margin-right: 5px;
    
    font-size:12px;
    border:none;
    height:3%;
    width: 300px
  }
  /*seta de voltar e avançar*/
  header{
    display: inline;
    float: left;
    
  }
  /*icon cancealr minimizar e ampliliar*/
  #cancelar {
    display: inline;
    float: right;
    align-items: center;
    text-indent: 5em;
    position: fixed;
     
  }
  
  
  /*foto do perfil*/
  section {
    display: inline-flex;
    line-height: 10px;
    text-indent: 5em;
  
    
  }
  
  section img {
    border-radius: 50%;
    height: 20px;
  }
  
  div a img {
    width: 22px;
    align-items: center;
    display: inline;
    
    
  }
  
  .menu {
    background-color: #b5b5b5;
    margin: 35%;
    margin-left: 0%;
    height: 100%;
    margin-right: 15px;
    margin-top: 70px;
    position: fixed;
   
  }
  
  p {
    text-align: center;
    margin: 2px;
  }
  
  img{
    float: none;
    width: 30px;
    
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    
  }
  
  .menu a:hover{
    background-color: rgb(66, 14, 11);
    
  }
  
  #navlist {
    background-color: #d8e0e7;
    position: absolute;
    
  }

/*icon ajuda*/
  .ajuda{
    margin-top: 69px;
  }
  
  /*altura da minha caixa de mensagem*/
  #area{
    top: 10%;
    left: 0%;
    width: 350px;
    padding: 400px;
    position: fixed; 
   
  }
  
  /*caixa de mensagem digite uma nova mensagem largura da caixa de mensagem*/
  textarea {
    color: #111011;
    width: 716px;
    font-style: italic;
    font-size: 12px;
    padding: 40px;
    border-style: dashed;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 0ch;
    margin: 2px;
    overflow: hidden;
    height: 0em;
    resize: vertical;
    resize: none;
   
   
  }
  
  /* largura da borda*/
  form {
    display: block;
    width: 800px;
    background: #2f597e;
   
  
  }
  
  
  /*main icon*/
  main {
    position: fixed; 
    margin-right: 10%;
    text-indent: 0%;
   
  }
  
  /*botão de enviar */
  #enviar{
    display: inline;
    float: right;
    text-indent: 72ch;
  }
  
  
  /*footer code*/
  footer p {
    background-color: #b5b5b5;
    padding: 90px;
    color: rgb(19, 16, 16);
    margin: 70px;
    font-size: large;
    width: 456%;
    font-style: italic;
    padding-left: 8px;
    margin-left: 15%;
    text-indent: 27%;
    text-align: justify;
    margin-top: 161%;
    float: left;
    flex-grow: 1;
    position: static;  

  }


  .footer-desenvolvedor{
    margin-top: 0%;
    position: fixed;
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1366px) {
     body footer form  main{
        width: 110%;
        position: fixed;
       
      }
      section  img footer form main{
        clip-path: circle(60% at right 80%);
      }
  }  

  @media only screen and (max-width: 900px) {
    section img {
      display: none;
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 450px) {
    textarea footer{
      align-items: center;
    }
  }